body {
    background-color: lightsteelblue;
}

h1 {
    color: #0099cc;
    animation: marquee 6s linear infinite alternate;
} 

@keyframes marquee { 
    0% {
	transform: translateX(70%);
    }
    75% {
	transform: translateX(0%);
    }
}

h2{
    color: #1a1aff;
    font-size: 30px;
    width: 250px;
    height: 40px;
    background-color: #dd99ff;
}

h3{
    color: blue;
    font-size: 27px;
    font-style: italic;
    text-shadow: 4px 4px #00ccff;
}

.rotate {
    transform: rotate(-3deg);
}

p {
    font-size: 23px;
    font-family: Courier New, monospace;
}

ol {
    list-style-type: upper-roman;
    background: #ff55ff;
    padding: 20px;
}

ul {
    list-style-type: circle;
    background: #3399ff;
    padding: 20px;
    list-style-position: inside;
}

ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 35px;
}

ul li {
    background: #cce5ff;
    margin: 10px;
    font-weight: bold;
}

li {
    font-size: 20px;
}

.begin {
    color: #a64dff;
    border: 10px dotted #33ccff;
    border-radius: 5px;
}

.middle {
    color: #800080;
}

.mid2 {
    color: #6600cc;
    text-transform: uppercase;
}

.end {
    color: #aa00cc;
    border-left: 6px solid #003d99;
    background-color: #66a3ff;
}